{% extends 'base.html' %}
   
{% block content %}
{% load static %}

<section id="application-info" class="text-left">
	<div class="container">
		<h1 class="mt-5">Apply for Startup Cup</h1>
	<p>Enter the Student Startup Festival Startup Cup for a chance to meet amazing mentors, exposure and an opportunity to win the ultimate startup experience. In order to be eligible, please ensure that you meet all of the following.</p>
	<p class="primary-accent font-weight-bold">Eligibility Criteria</p>
	<ul>
		<li>At least one of the founders have to be currently enrolled as a university OR high school student at the time of the Finals Pitch in October 2018.</li>
		<li>Your startup MUST be receiving revenue OR have active users on it. </li>
		<li>Must be based in Sydney or NSW (regional applicants must be willing to travel to semi-finals and grand finals)</li>
	</ul>
	<p class="primary-accent font-weight-bold">Application Process</p>
	<ul>
		<li>At least one of the founders have to be currently enrolled as a university OR high school student at the time of the Finals Pitch in October 2018.</li>
		<li>Your startup MUST be receiving revenue OR have active users on it. </li>
		<li>Must be based in Sydney or NSW (regional applicants must be willing to travel to semi-finals and grand finals)</li>
	</ul>
	<p><strong>APPLICATIONS CLOSE SEPTEMBER 28TH 11.59PM.</strong></p>
</section>

<section id="applying" class="dark-blue-bg text-left">
	 <div class="container">
		 <h1 class="mb-5">Getting your team registered</h1>
		 <div class="row mb-5">
			<div class="col-md">
				 <h1>Written Applications</h1>
				 <h1>Step 1.</h1>
			 </div>
			 <div class="col-md">
				 <p>Send in a Written Application including a one-page summary of your business, it’s market and product. Please also include a full pitch deck.</p>
				 <p>TechSydney and Textbook Ventures will review this according to the “Judging Criteria” listed below</p>
			 </div>
		 </div>
		 <div class="row mb-5">
			 <div class="col-md">
				<h1>Semi-Finals</h1>
				<h1>Step 2.</h1>
			 </div>
			 <div class="col-md">
				<p>The top 16 student startups in NSW will be invited to pitch in front of TechSydney and Textbook Ventures in a semi-final behind closed doors.</p>
				<p>Startups will be judged on the quality of their pitch. The 8 best startups will get to pitch on the night of the Festival.</p>
			 </div>
		 </div>
		<div class="row mb-5">
			 <div class="col-md">
				<h1>Festival Night</h1>
				<h1>Step 3.</h1>
			 </div>
			 <div class="col-md">
				<p>The Grand Final of the Startup Cup will take place at the Student Startup Festival (25th October).</p>
				<p>Student startups will pitch to and be judged by a panel of startup investors who will choose one startup to be the “2018 Best Student Startup in NSW”.</p>
			 </div>
		</div>
	</div>
</section>

<section id="aplication-form" class="text-left dark-blue-bg">
	<div class="container text-center">
		<h1 class="my-5">Submit Your Application</h1>
			<div class="row mx-0">
				<div class="col-md-6 text-left">
					<form id="startupcup-application" enctype="multipart/form-data" action="{% url 'application' %}" method="post">
						{% csrf_token %}
						{{ application.name.label_tag }}
						{{ application.name.errors }}
						{{ application.name }}

						{{ application.email.label_tag }}
						{{ application.email.errors }}
						{{ application.email }}

						{{ application.identification.label_tag }}
						{{ application.identification.errors }}
						{{ application.identification }}
						<small id="idHelp" class="form-text text-muted">Maximum upload size 5mb</small>

						{{ application.institution.label_tag }}
						{{ application.institution.errors }}
						{{ application.institution }}

						{{ application.summary.label_tag }}
						{{ application.summary.errors }}
						{{ application.summary }}
						<small id="summaryHelp" class="form-text text-muted">Maximum upload size 5mb</small>
						{{ application.slides.errors }}
						{{ application.slides.label_tag }}
						{{ application.slides }}
						<small id="slidesHelp" class="form-text text-muted">Maximum upload size 10mb</small>
						{{ application.comments.errors }}
						{{ application.comments.label_tag }}
						{{ application.comments }}
						<button type="submit" class="button btn-primary my-2">Submit</button>
					</form>
				</div>
				<div class="col-md text-left">
							<strong>Presentation Slide Deck</strong>
							<p>What to include in Slide Deck(This is only provided as a guide)</p>
							<li>Title page/Background</li>
							<li>How business addresses problem/business model</li>
							<li>Market Size/Product</li>
							<li>Future Outlook/ Expansion </li>
				</div>
			</div>
	</div>
</section>

{% endblock %}

