{% extends 'base.html' %}
   
{% block content %}
{% load static %}

<section id="application-info" class="text-left">
	<div class="container">
		<h1>Apply for Startup Cup</h1>
	<p>Enter the Student Startup Festival Startup Cup for a chance to meet amazing mentors, exposure and an opportunity to win the ultimate startup experience. In order to be eligible, please ensure that you meet all of the following.</p>
	<p class="primary-accent font-weight-bold">Eligibility Criteria</p>
	<ul>
		<li>At least one of the founders have to be currently enrolled as a university OR high school student at the time of the Finals Pitch in October 2018.</li>
		<li>Your startup MUST be receiving revenue OR have active users on it. </li>
		<li>Must be based in Sydney or NSW (regional applicants must be willing to travel to semi-finals and grand finals)</li>
	</ul>
	<p class="primary-accent font-weight-bold">Application Process</p>
	<ul>
		<li>At least one of the founders have to be currently enrolled as a university OR high school student at the time of the Finals Pitch in October 2018.</li>
		<li>Your startup MUST be receiving revenue OR have active users on it. </li>
		<li>Must be based in Sydney or NSW (regional applicants must be willing to travel to semi-finals and grand finals)</li>
	</ul>
	<p><strong>APPLICATIONS CLOSE SEPTEMBER 18TH 11.59PM.</strong></p>
</section>

<section id="aplication-form" class="text-left dark-blue-bg">
	<div class="container text-center">
		<h1>Submit Your Application</h1>
		<form id="startupcup-application" enctype="multipart/form-data" action="{% url 'application' %}" method="post">
			{% csrf_token %}
			<div class="row mx-0">
				<div class="col-md-6 text-left mx-auto">
					{{ application.name.label_tag }}
					{{ application.name.errors }}
					{{ application.name }}

					{{ application.email.label_tag }}
					{{ application.email.errors }}
					{{ application.email }}

					{{ application.university.label_tag }}
					{{ application.university.errors }}
					{{ application.university }}

					{{ application.summary.label_tag }}
					{{ application.summary.errors }}
					{{ application.summary }}

					{{ application.pitch_deck.errors }}
					{{ application.pitch_deck.label_tag }}
					{{ application.pitch_deck }}
                     <small id="emailHelp" class="form-text text-muted">maximum upload size 10mb</small>
					{{ application.comments.errors }}
					{{ application.comments.label_tag }}
					{{ application.comments }}
				</div>
			</div>
			<button type="submit" class="button btn-primary my-2">Submit</button>
		</form>
	</div>
</section>

{% endblock %}

