{% load static %}
<!doctype html>
<html lang="en">
<head>
		<!-- meta -->
			<title>Student Startup Festival</title>
			<meta property="og:title" content="SSF"/>
			<meta property="og:type" content="website"/>
			<meta property="og:url" content="https://ssf.textbook.ventures/"/>
			<meta property="og:site_name" content="Textbook Venture's Student Startup Festival"/>
			<meta property="og:description" content="Textbook Venture's Student Startup Festival"/>
			<meta property="og:image" content="{% static 'img/textbook-ventures-icon.png' %}"/>
			<link  rel="shortcut icon" href="{% static 'img/textbook-ventures-icon.png' %}"/>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Icons-->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">  
		<!-- Google Fonts-->
			<link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
		<!-- Bootstrap core CSS -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
		<!-- FontAwesome -->
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<!-- MailChimp-->
			<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
		<!-- Custom styles for this template -->
			<link rel="stylesheet" href="{% static 'css/base.css' %}">
			<link rel="stylesheet" href="{% static 'css/home.css' %}">
		<!-- Facebook Pixel Code -->
		<!-- End Facebook Pixel Code -->
</head>
<body class="text-center" data-spy="scroll" data-target="#nav-menu">
	<header class="masthead mb-auto">
	{% include 'menu.html' %}
	</header>
	<main>
	{% block content %}{% endblock content %}
	<section id="subscribe">
		<div class="container">
			<h1>Subscribe For Updates</h1>
			<p>Sign up to get updated on venue, date and ticket information for the festival.</p>
			<p>Details to be confirmed - stay tuned!</p>
			<div class="input-group mb-3">
				<style type="text/css">
					#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
				</style>
				<div id="mc_embed_signup">
				<form action="https://ventures.us15.list-manage.com/subscribe/post?u=e8a76abd480a5c57333062c45&amp;id=2de0e3ca3e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
						<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="  Your email" required>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e8a76abd480a5c57333062c45_2de0e3ca3e" tabindex="-1" value=""></div>
						<div class="clear"><input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					</div>
				</form>
				</div>
			</div> 
		</div>
	</section>
		<div id="contact" class="py-3">
			<div class="container">
				<p class="font-weight-bold my-0">Any Questions?</p>
					<div class="row mx-0">
						<div class="col-sm-4">
							<a href="mailto:Clinton@Textbook.Ventures">
								<i class="fa fa-envelope fa-2x mx-2"></i>Event Coordinator</a>
							</a>
						</div>
						<div class="col-sm-4">
							<a href="https://www.messenger.com/t/textbookventures">
								<i class="fab fa-facebook-messenger fa-2x mx-2"></i>Facebook
							</a>
						</div>
						<div class="col-sm-4">
							<a href="https://twitter.com/tb_ventures">
								<i class="fab fa-twitter fa-2x mx-2"></i>Twitter
							</a>
						</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="mastfoot py-2 mt-auto ">
		<div class="inner">
			© 2018 Textbook Ventures Inc. Trademarks and brands are the property of their respective owners.
		</div>
	</footer>
	<!-- JQuery -->
		<script  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<!-- Bootstrap JS + Popper JS-->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
		<script src="{% static '/js/smoothscroll.js' %}"></script>
</body>
</html>
