{% extends 'base.html' %}

{% block content %}
{% load static %}
<section id="cover">
	<div id="inner-cover" class=" text-center mx-auto w-100 dark-blue-bg container" style="background-image: url('{% static 'img/pitchnight-13.jpg' %}');">
		<div class="row align-items-center ">
				<img class=" mx-auto" style="max-width:30%" src="{% static 'img/ssf.png' %}">
		</div>
		<div class="row align-items-center ">
				<h1 class="my-5 mx-auto">Coming to <font class="secondary-accent">Sydney</font> on <font class="primary-accent">Oct 25th 2018.</font></h1>
		</div>
		<div class="row align-items-center ">
				<a href="{% url 'homepage' %}#subscribe" class=" mx-auto btn btn-outline-primary button" role="button" "_blank">GET UPDATES</a>
		</div>
		<div class="row align-items-end my-5">
			<div class="container-fluid">
				<p class="text-uppercase font-weight-bold my-0">EVENT PARTNERS</p>
				<div class="row">
					<div class="col-md-4">
						<a href="https://http://www.cityofsydney.nsw.gov.au/">
							<img class="event-partner d-inline" src="{% static 'img/city-of-sydney.png' %}">
						</a>
					</div>
					<div class="col-md-4">
						<a href="https://textbook.ventures">
							<img class="event-partner d-inline" src="{% static 'img/textbook-ventures.png' %}">
						</a>
					</div>
					<div class="col-md-4">
						<a href="https://www.techsydney.com.au/">
							<img class="event-partner d-inline" src="{% static 'img/techsydney.png' %}">
						</a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>

<section id="pitch" class="text-center">
	<div class="container">
		<i style="color:#35a3db" class="far fa-lightbulb fa-3x mt-2 mb-5"></i>
		<h1>Are You Sydney's</h1>
		<h1 class="primary-accent">Best Student Startup?</h1>
		<p>Win the ultimate Sydney Startup experience provided by our gracious partners including 3 months of space at Tank Stream Labs in Sydney's Startup Hub, Academy Xi scholarships and more.</p>
		<a href="{% url 'startupcup' %}" class="btn btn-outline-primary button" role="button" "_blank">MORE INFO</a>
	</div>
</section>

<section id="about-us" class="dark-blue-bg text-left no-space-section">
		<div class="row mx-0">
			<div class="col-md m-5 p-5">
				<h1>We are NSW’s first student-led festival celebrating student entrepreneurship across all tertiary education students in NSW</h1>
				<p class="my-0 mb-3">Being a student entrepreneur is hard! That’s why the Student Startup Festival was created, to empower and celebrate the student startup ecosystem’s unsung heroes, the campus hustlers, and the industry hackers!</p>
				<a href="https://textbook.ventures/" class="btn btn-outline-primary button" role="button" "_blank">ABOUT US </a>
			</div>
			<div class="col-md" style="background-image: url('{% static 'img/pitchnight-pink.jpg' %}');background-size: cover; background-position: center;">
			</div>
		</div>
</section>

{% endblock %}
