{% load static %}
{% block menu %}
<div class="inner">
	<nav id="nav-menu" class="navbar nav-masthead fixed-top navbar-expand-md">
		<div class="container">
			<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarToggler">
				<a class="nav-link{% if page == "homepage" %} active{% endif %}" href="{% url 'homepage' %}">THE FESTIVAL</a>
				<a class="nav-link{% if page == "startupcup" %} active{% endif %}" href="{% url 'startupcup' %}">STARTUP CUP</a>
				<a class="masthead-brand navbar-brand" href="https://textbook.ventures">
					<img id="nav-img"class ="img-responsive" src="{% static 'img/ssflogo.png' %}" alt="Textbook Ventures">
				</a>
				<a class="nav-link{% if page == "sponsors"%} active{% endif %}" href="/#contact">CONTACT</a>
				<a href="{% url 'application' %}" class="btn btn-outline-primary button" role="button" "_blank">APPLY NOW</a>
			</div>
	  </nav>
</div>
{% endblock %}
