{% extends 'base.html' %}

{% block content %}
{% load static %}
<section id="sponsor-wall">
	<div class="container">
		<h1 class="my-5 primary-accent">Grand Sponsors</h1 class="my-5">
		<div class="row">
			<div class="col-sm sponsor-tile">
				<a href="https://reinventure.com.au">
				<img class="sponsor-image tier-1" src="{% static 'img/reinventure-dark.png' %}">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm sponsor-tile">
				<a href="https://www.cityofsydney.nsw.gov.au/">
				<img class="sponsor-image tier-2" src="{% static 'img/city-of-sydney-dark.png' %}">
				</a>
			</div>
			<div class="col-sm sponsor-tile">
				<a href="https://www.techsydney.com.au">
				<img class="sponsor-image tier-2" src="{% static 'img/techsydney-dark.png' %}">
				</a>
			</div>
		</div>
		<h1 class="my-5 secondary-accent">Prize Sponsors</h1 class="my-5">
		<div class="row">
			<div class="col-sm sponsor-tile">
				<a href="https://www.tankstreamlabs.com/">
				<img class="sponsor-image tier-3" src="{% static 'img/tank-stream-labs.png' %}">
				</a>
			</div>
			<div class="col-sm sponsor-tile">
					<a href="https://academyxi.com">
				<img class="sponsor-image tier-4" src="{% static 'img/academy-xi.png' %}">
				</a>
			</div>
			<div class="col-sm sponsor-tile">
					<a href="https://mealpal.com">
				<img class="sponsor-image tier-4" src="{% static 'img/mealpal-logo.png' %}">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm sponsor-tile">
				<a href="https://aws.amazon.com"/>
				<img class="sponsor-image tier-3" src="{% static 'img/aws-dark.png' %}">
				</a>
			</div>
			<div class="col-sm sponsor-tile">
					<a href="https://spotify.com">
				<img class="sponsor-image tier-4" src="{% static 'img/spotify-logo.png' %}">
				</a>
			</div>
			<div class="col-sm sponsor-tile">
					<a href="https://olacabs.com">
				<img class="sponsor-image tier-4" src="{% static 'img/ola.png' %}">
				</a>
			</div>
		</div>
		<h1 class="my-5">Community Sponsors</h1 class="my-5">
		<div class="row">
			<div class="col-sm sponsor-tile">
				<a href="https://www.uts.edu.au/partners-and-community/initiatives/entrepreneurship/uts-startups">
				<img class="sponsor-image tier-5" src="{% static 'img/uts-startups-dark.png' %}">
				</a>
			</div>
			<div class="col-sm sponsor-tile">
				<a href="https://incubate.org.au/">
				<img class="sponsor-image tier-5" src="{% static 'img/usyd-incubate.png' %}">
				</a>
			</div>	<div class="col-sm sponsor-tile">
				<a href="https://sse.edu.au/">
				<img class="sponsor-image tier-5" src="{% static 'img/sse-dark.png' %}">
				</a>
			</div>
			
			<div class="col-sm sponsor-tile">
					<a href="https://www.mq.edu.au/about/about-the-university/offices-and-units/macquarie-university-incubator">
					<img class="sponsor-image tier-5" src="{% static 'img/mqu-incubator.png' %}">
					</a>
				</div>
		</div>
		<div class="row">
			<div class="col-sm sponsor-tile dark-tile">
				<a href="https://airtree.com">
				<img class="sponsor-image tier-5" src="{% static 'img/airtree.png' %}">
				</a>
			</div>
			<div class="col-sm sponsor-tile dark-tile">
				<a href="https://atlassian.com">
				<img class="sponsor-image tier-5" src="{% static 'img/atlassian.png' %}">
				</a>
			</div>
			<div class="col-sm sponsor-tile dark-tile">
				<a href="https://tempus.com.au/">
				<img class="sponsor-image tier-5" src="{% static 'img/tempus.png' %}">
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
