{% extends 'base.html' %}

{% block content %}
{% load static %}
<section id="sponsor-wall">
	<div class="container">
		<div class="row">
			<div class="col-sm">
				<a href="https://www.cityofsydney.nsw.gov.au/">
				<img class="sponsor-tile" src="{% static 'img/city-of-sydney.png' %}">
				</a>
			</div>
			<div class="col-sm">
				<a href="https://www.uts.edu.au/partners-and-community/initiatives/entrepreneurship/uts-startups">
				<img class="sponsor-tile" src="{% static 'img/uts-startups.png %}">
				</a>
			</div>
			<div class="col-sm">
				<a href="https://incubate.org.au/">
				<img class="sponsor-tile" src="{% static 'img/usyd-incubate.png %}">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<a href="https://www.techsydney.com.au">
				<img class="sponsor-tile" src="{% static 'img/techsydney.png' %}">
				</a>
			</div>
			<div class="col-sm">
				<a href="https://www.tankstreamlabs.com/">
				<img class="sponsor-tile" src="{% static 'img/tank-stream-labs.png' %}">
				</a>
			</div>
			<div class="col-sm">
				<a href="https://reinventure.com.au">
				<img class="sponsor-tile" src="{% static 'img/reinventure.png' %}">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<a href="https://sse.edu.au/">
				<img class="sponsor-tile" src="{% static 'img/SSE.png' %}">
				</a>
			</div>
			<div class="col-sm">
				<a href="https://www.tankstreamlabs.com/">
				<img class="sponsor-tile" src="{% static 'img/academy-xi.png' %}">
				</a>
			</div>
			<div class="col-sm">
				<a href="https://reinventure.com.au">
				<img class="sponsor-tile" src="{% static 'img/atlassian.png' %}">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<a href="https://www.mq.edu.au/about/about-the-university/offices-and-units/macquarie-university-incubator">
				<img class="sponsor-tile" src="{% static 'img/mqu-incubator.png' %}">
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
