{% extends 'base.html' %}
   
{% block content %}
{% load static %}

<section id="about" class="dark-blue-bg text-left">
	<div class="container">
		<h1>The Student Startup Cup</h1>
		<p>We partnered up with the ecosystem's largest players to provide the <font class="font-weight-bold">ULTIMATE STARTUP EXPERIENCE</font> to the best student-founded startup. Will it be you?</p>
	</div>
</section>

<section id="best" class="text-left no-space-section">
		<div class="row">
			<div class="col-md m-5 p-5">
				<h1>The best Student Startups. One Night.</h1>
				<p>The Student Startup Cup is the main event for the Student Startup Festival. For one night, we are bringing together the best student startups from each university to compete for the title of “Best Student Startup 2018”, and a chance to win the ultimate startup experience, curated by the ecosystem’s biggest supporters.</p>
			</div>
			<div class="col-md" style="background-image: url('{% static 'img/pitchnight-13.jpg' %}');">
			</div>
		</div>
</section>

<section id="win" class="dark-blue-bg">
	<div class="container">
		<h1 class="primary-accent">Win the</h1>
		<h1 class="secondar-accent">Ultimate Startup Experience</h1>
		<div class="row">
			<div class="col-md">
				<p class="font-weight-bold">VC COFFEES</p>
				<p>With John Henderson of Airtree Ventures, Mike Nicholls of Main Sequence Ventures and Samantha Wong of Blackbird Ventures.</p>
			</div>
			<div class="col-md">
				<p class="font-weight-bold">STARTUP TOUR</p>
				<p>With John Henderson of Airtree Ventures, Mike Nicholls of Main Sequence Ventures and Samantha Wong of Blackbird Ventures.</p>
			</div>
			<div class="col-md">
				<p class="font-weight-bold">PITCH AT STARTCON</p>
				<p>With John Henderson of Airtree Ventures, Mike Nicholls of Main Sequence Ventures and Samantha Wong of Blackbird Ventures.</p>

			</div>
		</div>
	</div>
</section>

<section id="eligibility">
	<div class="row">
		<div class="col-md">
			<h1>Eligibility Criteria</h1>
		</div>
		<div class="col-md text-left">
			<div>
				<i class="far fa-circle d-inline"></i>
				<div class="d-inline">
					<p class="d-inline"><font class="font-weight-bold">VC COFFEES</font>6 final student startups go head to head on stage with an all-star panel.</p>
				</div>
			</div>

		</div>
	</div>
</section>
<section id="judging" class="dark-blue-bg">
	<h1>Judging Criteria</h1>
	<div class="row">
		<div class="col-md">
			<p class="font-weight-bold">VC COFFEES</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>
		<div class="col-md">
			<p class="font-weight-bold">Finals Night</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>

		<div class="col-md">
			<p class="font-weight-bold">VC COFFEES</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>

		<div class="col-md">
			<p class="font-weight-bold">VC COFFEES</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>
	</div>
</section>

{% endblock %}

