{% extends 'base.html' %}
	
{% block content %}
{% load static %}

<section id="about" class="dark-blue-bg text-left">
	<div class="container py-5">
		<h1>The Student Startup Cup</h1>
		<p class="my-0">We partnered up with the ecosystem's largest players to provide the</p>
		<p class="my-0"><font class="font-weight-bold">ULTIMATE STARTUP EXPERIENCE</font> to the best student-founded startup. Will it be you?</p>
	</div>
</section>

<section id="best" class="text-left no-space-section">
		<div class="row mx-0">
			<div class="col-md m-5 p-5">
				<h1>The Best Student Startups.</br>One Night.</h1>
				<p>The Student Startup Cup is the main event for the Student Startup Festival. For one night, we are bringing together the best student startups from each university to compete for the title of “Best Student Startup 2018”, and a chance to win the <font class="font-weight-bold">ultimate startup experience</font>, curated by the ecosystem’s biggest supporters.</p>
			</div>
			<div class="col-md" style="background-image: url('{% static 'img/pitchnight-pink.jpg' %}');background-size: cover; }">
			</div>
		</div>
</section>

<section id="win" class="dark-blue-bg">
	<div class="container">
		<h1 class="primary-accent">Win the</h1>
		<h1 class="secondary-accent">Ultimate Startup Experience</h1>
		<div class="row">
			<div class="col-md">
				<i class="primary-accent fas fa-home fa-4x"></i>
				<p class="font-weight-bold">3 Months Space - Tank Stream Labs</p>
				<P>Tank Stream Labs is a co-working environment which provides place for entrepreneurs, thought-leaders, and high-growth companies to connect, collaborate, to grow.</p>
			</div>
			<div class="col-md">
				<i class="primary-accent fas fa-key fa-4x"></i>
				<p class="font-weight-bold">4 Tickets to bootcamps - Academy Xi</p>
				<p>Academy Xi provides short, practical and skill-specific courses for people or teams to upgrade their capabilities, change careers or boost their business.</div>
			<div class="col-md">
				<i class="primary-accent fas fa-home fa-4x"></i>
				<p class="font-weight-bold">More Coming Soon...</p>
				<p>Keep a look out for more amazing prizes soon to be announced</p>
			</div>
		</div>
	</div>
</section>

<section id="eligibility">
	<div class="row mx-0">
		<div class="col-md-5">
			<h1>Eligibility Criteria</h1>
		</div>
		<div class="col-md-7 text-left">
				<p><font class="font-weight-bold">At least one of the founders</font> have to be currently enrolled as a tertiary education student (University or TAFE) at the time of the Finals Pitch Night on October 25th 2018</p>
				<p><font class="font-weight-bold">Your startup MUST be </font>receiving revenue OR have active users on it.</p>
				<p><font class="font-weight-bold">Must be based in Sydney or NSW </font>(regional applicants must be willing to travel to semi-finals and grand finals)</p>
			</div>
		</div>


	</div>
</section>
<section id="judging" class="dark-blue-bg">
	<h1>Judging Criteria</h1>
	<div class="row mx-0 py-3">
		<div class="col-md">
			<p class="font-weight-bold">Creativity</p>
			<p>Originiality of the idea</p>
		</div>
		<div class="col-md">
			<p class="font-weight-bold">Potential</p>
			<p>Longevity, actualisation, and profitability of the idea</p>
		</div>

		<div class="col-md">
			<p class="font-weight-bold">Functionality</p>
			<p>Usability of interface for the idea.</p>
		</div>

		<div class="col-md">
			<p class="font-weight-bold">Team</p>
			<p>How will your team make your company a success.</p>
		</div>
		<div class="col-md">
			<p class="font-weight-bold">Impact</p>
			<p>Potential to improve educational outcomes</p>
		</div>
	</div>
	<a href="{% url 'application' %}" class="btn btn-outline-primary button" role="button" "_blank">APPLY NOW</a>
</section>

<section id="timeline" class="text-centre">
	<h1>Timeline</h1>
	<div class="timeline my-5 mx-auto">
		<div class="text-box timeline-left">
			<p class="timeline-date-left">31ST AUG</p>
			<div class="timeline-text">
				<h5>Applications Open</h5>
				<p>It's time to send in your one-pagers - do it sooner before you forget.</p>
			</div>
		</div>
		<div class="text-box timeline-right">
			<p class="timeline-date-right">25TH SEP</p>
			<div class="timeline-text">
				<h5>Applications Close</h5>
				<p>Online applications close 11:59PM on the 18th of September</p>
			</div>
		</div>
		<div class="text-box timeline-left">
		<p class="timeline-date-left">1ST SEP</p>
			<div class="timeline-text">
				<h5>Semi-Finalists Notified</h5>
				<p>Keep your eyes peeled on your inbox to get in!</p>
			</div>
		</div>
		<div class="text-box timeline-right">
			<p class="timeline-date-right">10TH OCT</p>
			<div class="timeline-text">
				<h5>Semi-final Night</h5>
				<p>Held at a venue in the CBD, 12 startups get a chance to pitch to one of our VC partners. 6 finalists will be announced on the night.</p>
			</div>
		</div>
		<div class="text-box timeline-left">
			<p class="timeline-date-left">19TH OCT</p>
			<div class="timeline-text">
				<h5>Pitch Workshop</h5>
				<p>Finalists get to attend an intimate pitch workshop</p>
			</div>
		</div>
		<div class="text-box timeline-right">
			<p class="timeline-date-right">25TH OCT</p>
			<div class="timeline-text">
				<h5>Finals Night</h5>
				<p>6 final student startups go head to head on a stage in front of 150 people and an all-star panel.</p>
			</div>
		</div>
		</div>
	</div>
	<a href="{% url 'application' %}" class="btn btn-outline-primary button" role="button" "_blank">APPLY NOW</a>
</section>

<section id="faq" class="dark-blue-bg">
	<h1>FAQs</h1>
	<div class="row mx-0 py-3 text-left">
		<div class="col-md">
			<p class="font-weight-bold">Who can compete at Student Startup Cup?<p>
			<p>Student Startup Cup is open to any student currently enrolled in university OR high school at the time of the application. The team must also prove that they have existing users or revenue in order to compete. We reserve the disqualify you if you do not meet these requirements.</p>
		</div>
		<div class="col-md">
			<p class="font-weight-bold">What’s in it for my startup?</p>
			<p>Aside from winning the grand prize, it is a highly unique opportunity to network with some of the ecosystem’s leaders and to get your startup out to over 150 people at the grand finals. Moreover, it’s a rare chance to meet other like minded student entrepreneurs.</p>
			</div>

			<div class="col-md">
				<p class="font-weight-bold">Do we all have to attend all semi-finals, pitch workshop and grand finals if we get in? </p>
				<p>Yes, if your startup gets accepted, at least one member will have to represent your startup at all of these events. Otherwise, we may forfeit your place to another team. </p>

		</div>

		<div class="col-md">
			<p class="font-weight-bold">Where are the semi-finals, pitch workshop and grand finals held?</p>
			<p>As each sponsor has kindly sponsored different aspects of the Student Startup Festival, all of these events will be held at different venues. These venues will be sent to you closer to the date. But don’t worry - they are all located centrally in Sydney CBD.</p>
		</div>
	</div>
	<a href="{% url 'application' %}" class="btn btn-outline-primary button" role="button" "_blank">APPLY NOW</a>
</section>


{% endblock %}

