{% extends 'base.html' %}
   
{% block content %}
{% load static %}

<section id="about" class="dark-blue-bg text-left">
	<div class="container">
		<h1>The Student Startup Cup</h1>
		<p>We partnered up with the ecosystem's largest players to provide the <font class="font-weight-bold">ULTIMATE STARTUP EXPERIENCE</font> to the best student-founded startup. Will it be you?</p>
	</div>
</section>

<section id="best" class="text-left no-space-section">
		<div class="row mx-0">
			<div class="col-md m-5 p-5">
				<h1>The best Student Startups. One Night.</h1>
				<p>The Student Startup Cup is the main event for the Student Startup Festival. For one night, we are bringing together the best student startups from each university to compete for the title of “Best Student Startup 2018”, and a chance to win the ultimate startup experience, curated by the ecosystem’s biggest supporters.</p>
			</div>
			<div class="col-md" style="background-image: url('{% static 'img/pitchnight-13.jpg' %}');">
			</div>
		</div>
</section>

<section id="win" class="dark-blue-bg">
	<div class="container">
		<h1 class="primary-accent">Win the</h1>
		<h1 class="secondary-accent">Ultimate Startup Experience</h1>
		<div class="row">
			<div class="col-md">
				<p class="font-weight-bold">VC COFFEES</p>
				<p>With John Henderson of Airtree Ventures, Mike Nicholls of Main Sequence Ventures and Samantha Wong of Blackbird Ventures.</p>
			</div>
			<div class="col-md">
				<p class="font-weight-bold">STARTUP TOUR</p>
				<p>One day tour around the largest startups in Australia: breakfast at Atlassian, lunch at Canva, afternoon tea at Hyper Anna.</p>
			</div>
			<div class="col-md">
				<p class="font-weight-bold">PITCH AT STARTCON</p>
				<p>Exclusive opportunity to pitch at StartCon, Australia’s largest startup conference in front of 1000 people.</p>
			</div>
		</div>
	</div>
</section>

<section id="eligibility">
	<div class="row mx-0">
		<div class="col-md">
			<h1>Eligibility Criteria</h1>
		</div>
		<div class="col-md text-left">
            <ul>
                <li><font class="font-weight-bold">At least one of the founders</font> have to be currently enrolled as a university OR high school student at the time of the Finals Pitch in October 2018.A</li>
                <li><font class="font-weight-bold">Your startup MUST be </font>receiving revenue OR have active users on it.</li>
                <li><font class="font-weight-bold">Must be based in Sydney or NSW </font>(regional applicants must be willing to travel to semi-finals and grand finals</li>
            <ul>
			</div>
		</div>


	</div>
</section>
<section id="judging" class="dark-blue-bg">
	<h1>Judging Criteria</h1>
	<div class="row mx-0 py-3">
		<div class="col-md">
			<p class="font-weight-bold">VC COFFEES</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>
		<div class="col-md">
			<p class="font-weight-bold">Finals Night</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>

		<div class="col-md">
			<p class="font-weight-bold">VC COFFEES</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>

		<div class="col-md">
			<p class="font-weight-bold">VC COFFEES</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>
	</div>
	<a class="button" href="{% url 'application' %}">APPLY NOW</a>
</section>

<section id="timeline" class="text-centre">
	<h1>Timeline</h1>
	<div class="timeline my-5 mx-auto">
	  <div class="text-box timeline-left">
		<p class="timeline-date-left">18TH AUG<p>
		<div class="timeline-text">
		  <h2>Applications Open</h2>
		  <p>It's time to send in your one-pagers - do it sooner before you forget.<p>
		</div>
	  </div>
	  <div class="text-box timeline-right">
		<div class="timeline-text">
		  <h2>2016</h2>
		  <p>Lorem ipsum..</p>
		</div>
	  </div>
	</div>
	<a class="button" href="{% url 'application' %}">APPLY NOW</a>
</section>

<section id="faq" class="">
	<h1>FAQs</h1>
	<div class="row mx-0 py-3 text-left">
		<div class="col-md">
			<p class="font-weight-bold">What happens if i do this?</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>
		<div class="col-md">
			<p class="font-weight-bold">Finals Night</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>

		<div class="col-md">
			<p class="font-weight-bold">VC COFFEES</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>

		<div class="col-md">
			<p class="font-weight-bold">VC COFFEES</p>
			<p>6 final student startups go head to head on stage with an all-star panel.</p>
		</div>
	</div>
	<a class="button" href="{% url 'application' %}">APPLY NOW</a>
</section>


{% endblock %}

