{% extends 'base.html' %}
   
{% block content %}
{% load static %}

<section id="application-info" class="mt-5" style="min-height: 100vh; position:relative;">
	<div class="container text-center" style="position:absolute; top:0; bottom:0; left:0; right:0; height:100px; margin:auto;">
		<h1>Thanks for <font class="primary-accent">subscribing</font>!</h1>
		<p>We'll keep you updated with the lastest informaiton on venue, date and ticket information via email</p>
	</div>
</section>
{% endblock %}

