/*
 * Globals
 */
/* Color palette */
:root {
  --yellow: #fecf33;
  --light-orange: #fdbd39;
  --peach: #ee6723;
}
/* Text styles */
header {
  font-family: system-ui;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #554d56;
}
p {
    font-family: "Roboto", sans-serif;
}
h1, h2, h3 {
   font-family: "Roboto-Black", sans-serif;
}
h4,h5,h6 {
   font-family: "Roboto-Black", sans-serif;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #35a3db;
}

::selection {
  color: white;
  background: #35a3db;
}
a {
  color: #444;
}
b,strong {
  font-size: 1.15rem;
}
a:focus,
a:hover {
  color: #35a3db;
  transition: color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  text-decoration: none;
}
/*
 * Progress Bar
 */
.progress {
  background: #fff;
}
.progress-bar {
  background: #35a3db;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
/*
 * Base structure
 */
html,
body {
  height: 100%;
  background: #333;
}
body {
  display: -ms-flexbox;
  color: #444;
  line-height: 2rem;
  position: relative;
}
main {
  margin-top: 56px;
  background: white;
}
/*
 * Header
 */
.masthead {
}
.navbar {
  background-color: #00001e;
}
.masthead-brand img{
  margin-bottom: 0;
  max-height: 60px;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: white;
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #35a3db;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
/*
 * Cover
 */
#cover-text {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-shadow: none;
  max-width: 60%;
  margin-bottom:200px;
}
.cover-heading {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
}
.lead {
  letter-spacing: 0.1em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.cover-button{
  font-size: 1.5rem;
  font-weight: bold;
}
.cover-sponsors{
  position: absolute;
  padding: 2rem 0rem;
  width: 100%;
  background: #00001e;
  color: white;
  left: 0;
  bottom:0;
}
#inner-cover {
  background-size:cover;
  min-height:100vh;
  padding: 10rem 1.5rem 1rem 1.5rem;
  position: relative;
}
.register-button{
  margin-top: 5rem;
}

#piggy {
  top: 60%;
  left: 5%;
  position: absolute;
  max-height: 200px;
  animation: fly 4s infinite 0.0s; /* Safari 4.0 - 8.0 */
}
#dollar {
  top: 55%;
  position: absolute;
  left: 27%;
  animation: fly 6s infinite 0.4s; /* Safari 4.0 - 8.0 */
  max-height: 180px;
}
#cog {
  top: 25%;
  position: absolute;
  left: 4%;
  animation: fly 5s infinite 0.8s; /* Safari 4.0 - 8.0 */
  max-height: 150px;
}
#card {
  top: 28%;
  position: absolute;
  left: 20%;
  max-height: 250px;
  animation: fly 4s infinite 1s; /* Safari 4.0 - 8.0 */

}
#coin {
  top: 7%;
  position: absolute;
  left: 16%;
  max-height: 160px;
  animation: fly 6s infinite 0.8s; /* Safari 4.0 - 8.0 */

}
.slide-up {
  animation: slideUp 4s; 
}
.slide-left {
  animation: slideLeft 4s; 
}
@keyframes slideUp {
  0% {transform:translateY(500px) }
  100% {transform:translateY(0px) }
}
@keyframes slideLeft {
  0% {transform:translateX(500px) }
  100% {transform:translateX(0px) }
}
@keyframes fly {
  50% {transform:translateY(-50px ) translateX(-50px ) }
  100%% {transform:translateY(50px) translateX( 50px ) }
}
#register .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
/*
 * sections
 */
section {
  padding: 14rem;
  padding: 5rem 0 5rem 0;
  margin: auto;
}

#venue,#criteria, #challenge, #startups, #register, #map{
  max-width:100%;
}
#register, #startups{
  padding: 0;
}
/*
 *  sponsors
 */
.sponsor-logo-container{
  min-height: 150px;
  position: relative;
}
.sponsor-logo{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin:auto;
}

/*
 *  prizes
 */
.prize-icon {
  max-height: 8rem;
  margin-bottom: 2rem;
}

/*
 * Startups
 */
.startup-logo-container {
  position: relative;
}
.startup-logo {
  display: block;
  width: 100%;
  height: auto;
}
.startup-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.startup-logo-container:hover .startup-overlay {
  opacity: 1;
}
.startup-description {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 0.9rem;
  line-height: 1rem; 
  padding: 1rem;
  width: 100%
}
/*
 * schedule
 */
th {
  text-align: center;
  font-size: 1.5rem;
}
td {
  min-width:6rem;
}
#contact a:hover{
  color: #ff5587;
}
#contact, #contact a{
  background-color: #35a3db;
  color: white;
}
.dot-point-container{
  position: absolute;
}
.dot-point::before{
  position: relative;
  font-size: 2rem;
  font-family: "Font Awesome 5 Free";
  color: #35a3db;
  padding: 1rem;
  content: "\f111";
}
/*
 * Timeline
 */
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #35a3db;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


/* text-box around content */
.text-box {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.text-box::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #35a3db;
  top: 40px;
  border-radius: 50%;
  z-index: 1;
}

/* Fix the circle for text-boxs on the right side */
.timeline-right::after {
  left: -13px;
}

/* timeline date field */
.timeline-date-left {
  position: absolute;
  right: -130px;
  top: 33px;
  z-index: 1;
}

.timeline-date-right{
  position: absolute;
  top: 15px;
  z-index: 1;
  left: -23px;
}

/* Place the text-box to the left */
.timeline-left {
  left: 0;
  text-align: right;
}

/* Place the text-box to the right */
.timeline-right {
  left: 50%;
  text-align: left;
}

/* Add arrows to the left text-box (pointing right) */
.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right text-box (pointing left) */
.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 40px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}



/* The actual content */
.timeline-text{
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width text-box */
  .text-box {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .text-box::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .timeline-left::after, .timeline-right::after {
    left: 15px;
  }

/* Make all right text-boxs behave like the left ones */
  .timeline-right{
    left: 0%;
  }
}
/*
 * Footer
 */
.mastfoot {
  background-color: #111;
  color: rgba(255, 255, 255);
}
/*
 * components
 */
input {
  border-radius: 2rem !important;
}
.button {
  border-radius: 2rem;
  background-color: #ff5587;
  color: white!important;
  padding: 0.4rem 0.9rem;
  margin: 0 0.1rem;
  font-weight: bold;
}
.button:hover{
 color:white;
}

.no-space-section{
  max-width: 100%;
  padding: 0;
}
.dark-blue-bg{
  background-color: #00001e;
  color: white;
  max-width: 100%;
}
.primary-accent{
  color: #ff5587;
}
.secondary-accent{
  color: #35a3db;
}

/*
 * Responsive Styling
 */
html { font-size: 20px; }

@media (max-width: 1200px) { 
	#dollar, #card { display: none; } 
	html { font-size: 20px; }
}

@media (max-width: 992px) { 
	#piggy, #cog { display: none;	}
	html { font-size: 18px; }
}


@media (max-width: 768px) { 
  .cover-heading { font-size: 3rem; }
	html { font-size: 16px; }
}

@media (max-width: 576px) { 
	#coin { display: none; }
}
